<a href="https://colab.research.google.com/github/Murtaza6714/railway/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Acropolis")

Acropolis

In [ ]:
var1 = 20      # An integer assignment
var2 = 4.123   # A floating point
var3 = "India" # A string
 
print(var1,' ',var2,' ',var3)

20   4.123   India

In [ ]:
var1 = var2 = var3 = 1
print(var1,' ',var2,' ',var3)

1   1   1

In [ ]:
var1, var2, var3 = 6, 6.0, "Ram"
print(var1,' ',var2,' ',var3)

6   6.0   Ram

In [ ]:
firstname = input("Enter your first name: ")
lastname = input("Enter your second name: ")
semester = input("Enter your semester: ")

Enter your first name: murtaza
Enter your second name: singapurwala
Enter your semester: 6

In [ ]:
age = input("Enter your age: ")
age = int(age)+5
print(age)

Enter your age: 45
50

In [ ]:
a=10
print(str(a))
print(float(a))

b='20'
print(int(b))
print(float(b))

c=23.56
print(int(c))
print(str(c))

10
10.0
20
20.0
23
23.56

In [ ]:
fullname = input("Enter your full name: ")
branch = input("Enter your branch: ")
university = input("Enter your university: ")
age = input("Enter your age: ")
twelthper = input("Enter your 12%: ")
hobbies = input("Enter your hobbies: ")
print(fullname)
print(branch)
print(university)
print(age)
print(twelthper)
print(hobbies)

Enter your full name: murtaza
Enter your branch: 6
Enter your university: acropolis
Enter your age: 21
Enter your 12%: 84
Enter your hobbies: programming
murtaza
6
acropolis
21
84
programming

In [ ]:
print('ACROPOLIS'*10)


for i in range(5):
    print("*"*i)
 
# new pattern program
print("\n")
for i in range(4,0,-1):
  print("*"*i)

ACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLIS

*
**
***
****


****
***
**
*

In [ ]:
for i in range(1,6):
  print(" "*(6-i),"*"*i)

      *
     **
    ***
   ****
  *****

In [ ]:
a, b, c = 10, 20, 30
print(a,b,c,sep=':',end=',')

10:20:30,

In [ ]:
for i in range(1,5):
    print(" "*(5-i),"*"*i)

     *
    **
   ***
  ****

In [ ]:
word = 'PYTHON'
a,b,c,d,e,f = word
print(a,b,c,d,e,f)

P Y T H O N

In [ ]:
x = 5 
y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [ ]:
print('I like {0} and {1}'.format('ice cream','chocolate'))

I like ice cream and chocolate

In [ ]:
print('Hello {name}, {greeting}'.format(greeting = 'Good morning', name = 'Sachin !'))

Hello Sachin !, Good morning

In [ ]:
raman='coffee'
riya='tea'
raman, riya = riya, raman
print("raman :{}".format(raman))
print("riya :{}".format(riya))

raman :tea
riya :coffee

In [ ]:
import math
print(math.sqrt(9))
print(math.floor(10.8))
print (math.ceil(10.5))
math.pi

3.0
10
11

3.141592653589793

In [ ]:
import math
print(math.sqrt(9))
print(math.floor(10.8))
print (math.ceil(10.5))
math.pi

3.0
10
11

3.141592653589793

In [ ]:
import random
y = random.randint(5,20) # generate any random number between 5 and 20
print("y = ", y)

y =  16

In [ ]:
import datetime
 
date = datetime.datetime.now().date() # YYYY-MM-DD format
year = datetime.datetime.now().year
month = datetime.datetime.now().month
day = datetime.datetime.now().day
 
print(date)
print(year)
print(month)
print(day)

2022-03-03
2022
3
3

In [ ]:
import calendar
 
year = int(input("Enter Year : "))
month = int(input("Enter the Month : "))
 
print(calendar.month(year, month))

Enter Year : 12
Enter the Month : 5
       May 12
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [ ]:
x=15246.59
y=14.156
print(format(x,'>20.1f'))
print(format(y,'>20.1f'))
print("\n")
 
print(format(x,'<20.1f'))
print(format(y,'<20.1f'))
print("\n")
 
print(format(x,'^20.1f'))
print(format(y,'^20.1f'))
print("\n")
 
z=20.745124
print(format(z, '>30.3f'))

             15246.6
                14.2


15246.6
14.2


      15246.6
        14.2


                        20.745